/*FOOTER*/
.footer {
    background-color: #000;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    padding: 0;
    font-size: 14px;
}

.fcontent {
    padding: 20px!important;
}

.footer .container .content {
    background-color: #000!important;
}

.footer strong {
    color: #fff;
    font-size: 15px;
}

.footer p a {
    color: #900;
}

.footer p {
    color: #fff;
}

.nopadding {
    padding: 0px;
}

.nomargin {
    margin: 0px!important;
}
/*STICKY FOOTER*/
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

/*BODY*/
h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

h1,
.title {
    color: #000;
}

h1,
.title .is-two {
    color: #000;
    text-transform: unset;
}

.column p {
    padding: 20px;
}

.column h1 {
    padding-left: 20px!important;
    padding-right: 20px!important;
}

main {
    font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
    color: #000;
}

.nopaddingtop {
    padding-top: 0px!important;
}

/*NAVBAR*/
@media screen and (max-width: 1087px) {
    .navbar>.container {
        display: flex;
    }

    .navbar {
        padding-top: 0 !important;
    }
}

.navbar {
    padding-top: 20px;
}

.navbar-item {
    font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 6px;
}

@media screen and (min-width: 1088px){
    .navbar-link.is-active, a.navbar-item.is-active {
        color: #900;
    }
}

.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover {
    background-color: transparent;
    color: #900;
}