/*FOOTER*/
.footer {
    background-color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000;
    padding-bottom: 48px;
}
.footer, strong {
    color: #000;
}
.footer, p, a {
    color: red;
}
.footer, p {
    color: #000;
}
/*STICKY FOOTER*/
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
.site-content {
    flex: 1;
}

/*BODY*/
h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
h1, .title {
    color: #000;
}
h1, .title .is-two {
    color: #000;
    text-transform: unset;
}

/*NAVBAR*/
@media screen and (max-width: 1087px){
    .navbar>.container {
        display: flex;
    }
    .navbar {
        padding-top: 0 !important;
    }
}
.navbar {
    padding-top: 20px;
}

/*PARALLAX*/
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw
  }
  .parallax:nth-of-type(1) {  
    background-image: url("https://picsum.photos/g/2560/1600/");
  } 
  .parallax:nth-of-type(2) {  
    background-image: url("https://picsum.photos/g/2560/1600/");
  } 
  .parallax:nth-of-type(3) {  
    background-image: url("https://picsum.photos/g/2560/1600/");
  } 
  .parallax:nth-of-type(4) {  
    background-image: url("https://picsum.photos/g/2560/1600/");
  }
  .parallax:nth-of-type(5) {  
    background-image: url("https://picsum.photos/g/2560/1600/");
  }